#manga-container {
	gap: 0.75rem;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	position: relative;
	z-index: 1;
}

.manga-item {
	gap: 0.7rem;
	padding: 0.3rem;
	transition: box-shadow 0.4s ease-out;
	border-radius: 5px;
}

.manga-item:hover {
	box-shadow: 2px 2px 10px #8b8b8b;
}

.manga-img {
	width: 100px;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #c0c0c0;
}

.manga-info {
	flex-direction: column;
	gap: 0.7rem;
}

.manga-title {
	font-weight: 600;
	color: #0f4f5e;
}

.manga-desc,
.manga-genre {
	font-size: 0.8rem;
	color: #8f8f8f;
	overflow-wrap: anywhere;
}

.manga-title:hover {
	color: #167990;
	text-decoration: underline;
}
