#manga-details {
	gap: 1rem;
	margin-block: 1.5rem;
}

#manga-img {
	width: auto;
	height: 405px;
}

#summary,
#genre {
	text-indent: 1.5rem;
	padding: 1rem;
}

#follow,
#following {
	text-align: center;
	padding-block: 0.3rem;
	color: white;
	line-height: 23.2px;
	margin-bottom: 1rem;
	cursor: pointer;
	box-shadow: 0 2px 5px #c0c0c0;
	transition: filter 0.3s ease-out;
}

#follow {
	background-color: #00911f8f;
}

#following {
	background-color: #ff000080;
}

#follow:hover,
#following:hover {
	filter: brightness(115%);
}

#chapter-table {
	border: 1px solid #cfcfcf;
	border-bottom: none;
	margin-block: 0.5rem 2rem;
	flex-direction: column;
}

.chapter {
	padding: 0.5rem;
	border-bottom: 1px solid #cfcfcf;
}

.chapter:hover {
	background-color: #e0e0e0;
}

.chapter-title {
	color: #0f4f5e;
	font-weight: 600;
}

.chapter .updated {
	margin-left: auto;
	font-size: 0.8rem;
}

.grey-text {
	color: #535353;
}
